<section class="text-center pb-4">
  <h2><%= @dog.name %></h2>
  <div id="imgCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner d-flex m-auto">
      <% @dog.images.each_with_index do |image,i|%>
      <div class="carousel-item <%= "active " if i==0 %>">
          <%= image_tag url_for(image), class:"d-flex m-auto", alt: "Photo of #{@dog.name}"%>
      </div>
      <%end%>
    </div>
    <a class="carousel-control-prev" href="#imgCarousel" role="button" data-slide="prev">
      <span class="text-dark fa fa-chevron-left"></span>
    </a>
    <a class="carousel-control-next" href="#imgCarousel" role="button" data-slide="next">
      <span class="text-dark fa fa-chevron-right"></span>
    </a>
  </div>

  <p><%= @dog.description %></p>

  <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
  <br>
  <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</section>
